.TodoListItem{// list한줄이 item / even(짝수) / &: .TodoListItem
    padding: 1rem;
    display: flex;
    align-items: center;
    &:nth-child(even){
        background: #f8f9fa;
    }
    .Checkbox{
        cursor: pointer;
        flex: 1;
        display: flex;
        align-items: center;
        svg{font-size: 1.5rem;} //15px?
        .text{
            margin-left: 0.5rem; //9px정도
            flex: 1;
        }
        &.checked{
            svg{color: #22b8cf;}
            .text{
                color: #adb5db;
                text-decoration: line-through;
            }
        }
    }
    .remove{
        display: flex;
        align-items: center;// 세로로 가운데
        font-size: 1.5rem; // 18px * 1.5 = 27px
        color: #ff6b6b;
        cursor: pointer;
    }
    & + & {border-top: 1px solid #dee2e6;} //&: .TodoListItem
}